:root {
	--eggshell-white: #F9FEFF;
	--primary-green: #628f6c;
	--secondary-green: #80aa89;
}

.hamburger {
	/* position: absolute;
	float: right;
	margin-top: -5px;
	margin-bottom: -5px;
	z-index: 301; */
	position: absolute;
	right: .7rem;
	top: 0rem;
	width: 2.3rem;
	height: 3.5rem;
	/* fill-rule: evenodd;
	clip-rule: evenodd;
	stroke-linejoin: round;
	stroke-miterlimit: 1.5; */
	cursor: pointer;
	z-index: 301;
}

.hamburger:hover{
    width: 2.4rem;
	height: 3.6rem;
    right: .65rem;
	top: -.05rem;
}

.closeIcon {
	display: none;
}

.clip-wrapper-menu{
	position: absolute;
    overflow: clip;
    width: 20vw;
	height: 100vh;
    top: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	padding-top: 4rem;

}

.menu {
	position: absolute;
    /* float: right; */
	/* visibility: none; */
	transform: translateX(100%);
	transition: transform 0.2s;
	width: 20vw;
	height: 100vh;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background: var(--secondary-green);
	color: white;
	list-style: none;
	padding-top: 4rem;
	box-shadow: 0 13px 21px rgba(0, 0, 0, 0.05);

}

.blur {
	position: absolute;
	/* transform: translateX(100%);
	transition: transform 0.2s; */
	display: none;
	width: 99vw;
	height: 100vh;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 95;
	background: rgba(44, 44, 44, 0.6);
	filter: blur(2px);
	color: white;
	padding-top: 4rem;
	padding-left: 0rem;
    background-blend-mode: darken;

}

.icon{
    height: 5vh;
    width: 5vh;
}

.profile-icon{
    position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
    scale: 10vw 10vw;
}

.menu-options-wrapper{
    height: 6vh;
    width: 20vw;
	right: 0;
}

.menu-options-wrapper:hover{
	cursor: pointer;
    background: rgba(255, 255, 255, 0.068);
    text-decoration: underline;
}
.menu-text{
    color: var(--eggshell-white);
    font-size: 5vh;
    top: 50%;
    padding-left: .8vh;
}

.showMenu {
	transform: translateX(0);
}

/* Code I found Online For Button CSS, for referance
input,
        .menuItem {
            box-sizing: border-box;
            width: 100%;
            margin: 20px auto;
            padding: 12px 20px;
            border: none;
            background: rgba(255, 255, 255, 0.1);
            box-shadow: 0 13px 21px rgba(0, 0, 0, 0.05);
        } */