/* THANK YOU TO MAKIT WEB FOR THE WONDERFUL TUTORIAL */
/* https://makitweb.com/html-how-to-show-text-above-image-on-hover/#:~:text=HTML%20%E2%80%93%20How%20to%20Show%20Text%20Above%20Image,3.%20Demo%20View%20Demo%204%204.%20Conclusion%20 */

.text_img{
    position: relative;
    width: 100vh;
    height: 100vh;
    float: left;
    margin-right: 10px;
   }
   
   .text_img div{
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
   }
   
   /* Hover on Parent Container */
   .text_img:hover{
    cursor: pointer;
   }
   
   .text_img:hover div{
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
   }