:root {
	--background: url('/main/mosiac.png');
	--eggshell-white: #F9FEFF;
	--primary-green: #628f6c;
	--secondary-green: #80aa89;
}
 
body {
	margin: 0px;
	background: no-repeat;
    background-image: url("./mosiac.png");
    background-size: cover;
    background-position: center center;
	background-attachment: fixed;
	/* backdrop-filter: grayscale(1); */
	height: 1000;
	/* width: 100vw; */
}

.rgba {
	background: rgba(255, 255, 255, 0.6);
	box-shadow: 0 13px 21px rgba(0, 0, 0, 0.05);
}

.rgba-feed {
	background: rgba(255, 255, 255, 0.75);
	box-shadow: 0 13px 21px rgba(0, 0, 0, 0.05);
	width: 105vh;
}

.inner-feed-text-wrapper {
	width: 100vh;
}

.post-title {
	font-size: 20;

}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .navbar-flex-right {
	position: absolute;
	top: 10;
	display: flex;
	justify-content: right;
	align-items: right;
} */

.sticky-wrapper {
	position: sticky;
	position: -webkit-sticky;	
	top: 0;
	z-index: 300;

}

.navbar-fixed-top {
	position: sticky;
	position: -webkit-sticky;	 
	top: 0;
	background-color: var(--primary-green);
	box-shadow: 0 13px 21px rgba(0, 0, 0, 0.05);
	z-index: 300;
}

.navbar-pantree-text {	
	transform-origin: center center;
	text-align: center;
	color: var(--eggshell-white);
	cursor: pointer;
	font-size: 50px;
	z-index: 301;
	width: 170;
}

.navbar-pantree-text:hover{
	text-decoration: underline;
}

