:root {
	--background: url('/main/mosiac.png');
	--eggshell-white: #F9FEFF;
	--primary-green: #628f6c;
	--secondary-green: #80aa89;
}

.hamburger {
	/* position: absolute;
	float: right;
	margin-top: -5px;
	margin-bottom: -5px;
	z-index: 301; */
	position: absolute;
	right: .7rem;
	top: 0rem;
	width: 2.3rem;
	height: 3.5rem;
	/* fill-rule: evenodd;
	clip-rule: evenodd;
	stroke-linejoin: round;
	stroke-miterlimit: 1.5; */
	cursor: pointer;
	z-index: 301;
}

.closeIcon {
	display: none;
}

.menu {
	position: fixed;
	transform: translateX(100%);
	transition: transform 0.2s;
	width: 20vw;
	height: 100vh;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background: var(--secondary-green);
	color: white;
	list-style: none;
	padding-top: 4rem;
}

.blur {
	position: fixed;
	/* transform: translateX(100%);
	transition: transform 0.2s; */
	display: none;
	width: 100vw;
	height: 100vh;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 50;
	background: rgba(44, 44, 44, 0.6);
	filter: blur(2px);
	color: white;
	padding-top: 4rem;
}

.showMenu {
	transform: translateX(0);
}
 
body {
	margin: 0px;
    background-image: url("./mosiac.png");
    background-size: cover;
    background-position: center center;
	background-attachment: fixed;
	height: 1000;
}

.rgba {
	background: rgba(255, 255, 255, 0.6);
	box-shadow: 0 13px 21px rgba(0, 0, 0, 0.05);
}

.rgba-feed {
	background: rgba(255, 255, 255, 0.75);
	box-shadow: 0 13px 21px rgba(0, 0, 0, 0.05);
	width: 105vh;
}

.inner-feed-text-wrapper {
	width: 100vh;
}

.post-title {
	font-size: 20;

}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .navbar-flex-right {
	position: absolute;
	top: 10;
	display: flex;
	justify-content: right;
	align-items: right;
} */

.navbar-fixed-top {
	position: sticky;
	position: -webkit-sticky;	 
	top: 0;
	background-color: var(--primary-green);
	box-shadow: 0 13px 21px rgba(0, 0, 0, 0.05);
	z-index: 300;
}

.navbar-pantree-text {	
	transform-origin: center center;
	text-align: center;
	color: var(--eggshell-white);
	cursor: pointer;
	font-size: 50px;
	z-index: 301;
	width: 170;
}

.navbar-pantree-text:hover{
	text-decoration: underline;
}



/* Code I found Online For Button CSS, for referance
input,
        button {
            box-sizing: border-box;
            width: 100%;
            margin: 20px auto;
            padding: 12px 20px;
            border: none;
            background: rgba(255, 255, 255, 0.1);
            box-shadow: 0 13px 21px rgba(0, 0, 0, 0.05);
        } */

